<h2>Adding Movie Data</h2>
<form #movieform="ngForm" (ngSubmit)="Savedata(moviedata)">
    <div>
        <label for="id">Enter Id:</label>
        <input type="text" id="id" name="id" [(ngModel)]="moviedata.id" required #id=ngModel />
        <div *ngIf="id.invalid && (id.touched || id.dirty)" style="color:crimson">
            <div *ngIf="id.errors?.['required']">
                Id Cannot be Blank
            </div>
        </div>
    </div>

    <div>
        <label for="name">Enter Movie Name:</label>
        <input type="text" id="name" name="name" [(ngModel)]="moviedata.name" required #name=ngModel />
        <div *ngIf="name.invalid && (name.touched || name.dirty)" style="color:crimson">
            <div *ngIf="name.errors?.['requires']">
                Name is required
            </div>
        </div>
    </div>
    <div>
        <label for="year">Enter Year:</label>
        <input type="text" id="year" name="year" [(ngModel)]="moviedata.year" />
    </div>
    <div>
        <label for="rating">Enter Rating:</label>
        <input type="number" id="rating" name="rating" [(ngModel)]="moviedata.rating" min="1" max="5" #rating=ngModel />
        <div *ngIf="rating.invalid && (rating.touched || rating.dirty)" style="color:crimson">
            <div *ngIf="rating.errors?.['max']">
                Rating should be <=5 
            </div>
            </div>
        </div>
    <br><br>
    <p>
        <input type="submit" value="Save" style="background-color:lightgreen;height:100px"
            [disabled]="!movieform.valid" />
    </p>
</form>